@font-face {
    font-family: 'brandFont';
    src: url('file:fonts/deftone_stylus.ttf');
}

.navbar-styles{
    border: 2px outset #BE81F7;
}
.brand-color{
    color: #000000;
    font: brandFont;
}
.background-container{
    background-color: #BCA9F5;
}
a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
}

.jumbotron{
  background-color: #5a5a5a;
}

.jumbotron h1{
  color: #fff;
  text-align: center;
}

.buttons h3{
  color:#E3F15E;
  font-family: 'Shift', sans-serif;
  background: #5a5a5a;
}

.create-party{
}

.find-party{
}

.btn-primary{
  background-color: #5a5a5a;
  border-color: #5a5a5a;
}

.btn-primary:hover{
  background-color: #E3F15E;
  border-color: #5a5a5a;
}

.centered{
  text-align: center;
}

