html, body{
  height: 100%;
}

footer{
  background-color: #5a5a5a;
  color: #fff;
  height: 30px;
}

body{
  background: #999;
}

#content{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}

.jumbotron{
  background-color: #5a5a5a;
  padding: 30px;
}

.jumbotron h1{
  color: #fff;
  text-align: center;
  font-size: 110px;
  font-family: 'LilyUPC', serif;
  font-style: ;
  text-shadow: 5px 8px 5px #000;
}

.jumbotron a{
  color:white;
}

.buttons h3{
  color:#E3F15E;
  font-family: 'Shift', sans-serif;
  background: #5a5a5a;
}

.create-party{
  margin-top: 109px;
}

.find-party{
}

.btn-primary{
  background-color: #5a5a5a;
  border-color: #5a5a5a;
}

.btn-primary:hover{
  background-color: #E3F15E;
  border-color: #5a5a5a;
}

.centered{
  text-align: center;
}

.search-bar{
  margin-top: 50px;
  margin-bottom: 25px;
}

.create-party-form {
  width: 250px;
  margin: 0 auto;
}

.player{
    text-align:center;
}

