<!DOCTYPE html>

<html>
	<head>
		<title>LoudSource Party</title>
		<link href="css/partypage.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<h1 align="center">
			<strong>Party: Cats</strong>
		</h1>
		
		<div class="search" align="center">

			<form>
 				<input type="text" value="Search" id="searchbox1">
			</form>
			
		</div>
		
		<br>
		<p class="queue" align="center">
			<strong>Queue</strong>
		</p>
		<br>

		<div>
			<ol class="list"> 
				<strong>
	    		<li>
	    	   		Rick Astley - Never Gonna Give You Up
	   			</li>
	   		
	    		<li>
	        		Rick Astley - Never Gonna Give You Up
	    		</li>
	    		
	    		<li>
	        		Rick Astley - Never Gonna Give You Up
	    		</li>
	    		
	    		<li>
	        		Rick Astley - Never Gonna Give You Up
	    		</li>
	    		</strong>
			</ol>
		</div>
		<nav>
			<a href="index.html"><strong>Home</strong></a>
		</nav>

	</body>
</html>