<!DOCTYPE html>
<body>
    <div class="buttons">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="find-party">
                        <div class="centered">
                            <div class="search-bar"><input type="text" class="form-control" placeholder="Party Name"></div>
                            <a class="btn btn-primary btn-lg" role="button" onclick="createParty()">Create Party</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

